extends layout

block content
  .container(style="height:500px; margin-top:70px;")
    .row
      .col-md-5(style="text-align:center;")
        div.Personal_Logo
          span.FirstLetter J
          span ohn 
          span.FirstLetter R
          span . 
          span.FirstLetter H
          span arrison
        iframe(height='300', width="100%", frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ52xEBpjEwogRQfewb4K7tI8&key=AIzaSyAswWKDaUFlrqE_6KO1C1bj2kL9R_YoEtw', allowfullscreen='')
        span Located In Tampa, FL 
      .col-md-5
        div.Professiona_Developer
          span Contact
        a.btn.btn-block.btn-social.btn-google(href="mailto:JohnRussellHarrison@gmail.com") #[span.fa.fa-google] Email
        a.btn.btn-block.btn-social.btn-linkedin(href="https://www.linkedin.com/in/jrharr") #[span.fa.fa-linkedin] LinkedIn
        a.btn.btn-block.btn-social.btn-facebook(href="https://www.facebook.com/JohnRussellHarrison") #[span.fa.fa-facebook] FaceBook

      .col-md-3



