extends layout

block content
  link(rel='stylesheet', href='/stylesheets/LP-Style.css')
  .Main_Page
    .container(style="width:100%;") 
      .row.Landing_Page.FrontButtons
        .col-xs-12(style="text-align:center; padding-bottom:50px;")
            .Personal_Logo.sitetext
              span.FirstLetter J
              span ohn 
              span.FirstLetter R
              span . </br>
              span.FirstLetter H
              span arrison
            .span.sitetext // Professional Developer
      .row(style="margin-top: 30px;")
        .col-sm-6.col-sm-offset-3
          .Professiona_Developer
            span Professional Developer
          span.site-text Expert of coding timelines with a proven track record of excellence in coding development. Comfortable working from 7am to coordinate with offshore to 9pm to build out platforms; the work day doesn’t end until the project is on track. Code reviews and coaching are integral in this process. <br><br> Known for mastery in C#, JavaScript (Node.JS and Angular) and WCF Services. A developer that contributes fast prototyping for constant feedback. A professional that values quality teams and code to implement incredible on-time products.<br><br> Based in the Tampa Area
          iframe(height='400', width="100%", frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ52xEBpjEwogRQfewb4K7tI8&key=AIzaSyAswWKDaUFlrqE_6KO1C1bj2kL9R_YoEtw', allowfullscreen='')

  script(src='/system/lib/social-share/share.min.js')


