extends layout

block content
  link(rel='stylesheet', href='/stylesheets/LP-Style.css')
  .Main_Page
    .container(style="width:100%; padding:0px;") 
      .row.Landing_Page.FrontButtons
        .col-xs-12.safariCenter(style="text-align:center; padding-bottom:50px; height:100%;")
            span.Personal_Logo.sitetext
              span.FirstLetter J
              span ohn 
              span.FirstLetter R
              span . </br>
              span.FirstLetter H
              span arrison
            span.sitetext <br/> // Professional Developer
      .row(style="margin-top: 30px;")
        .col-sm-6.col-sm-offset-3
          .Professiona_Developer
            span About<br>
          span <br>
          a.btn.btn-block.btn-social.btn-pinterest(href="/Resources/JohnHarrisonResume.pdf") #[span.glyphicons.glyphicons-notes] Resume            
          span.site-text <br/> Let's make that next big idea happen.  I'm a realistic developer and I enjoy nothing more than sitting shoulder to shoulder with a team to get what they have working and up to my unrealistic standards.  After being selected for Verizon's IT Leadership Development Program of college, I've enjoyed traveling the country, finally landing in Tampa, FL.<br/><br/>From my training in Agile and DevOps, I truly believe that giving developers minimal requirements can produce some amazing results.  During my second year at Verizon, I won a Verizon Ovation Award for my ability to implement an incredible upgrade to our Change Control platform through what I now see as Scrum style daily sessions.  I fight to make sure timelines and requirements are met.<br/><br/> My background is in development, guitar and stage performance.  I feel alive during corporate presentations on the work I've been able to accomplish.<br/><br/> I'm hoping that my future takes me towards leading developers and giving them a voice.  During my time in college, I tried to take every class where I could help direct my teams and I'm working hard to get to the level where I can take my team to the highest level.  <br><br> 
          div.Professiona_Developer
            span Contact
          a.btn.btn-block.btn-social.btn-google(href="mailto:JohnRussellHarrison@gmail.com") #[span.fa.fa-google] Email
          a.btn.btn-block.btn-social.btn-linkedin(href="https://www.linkedin.com/in/jrharr") #[span.fa.fa-linkedin] LinkedIn
          a.btn.btn-block.btn-social.btn-facebook(href="https://www.facebook.com/JohnRussellHarrison") #[span.fa.fa-facebook] FaceBook

          span <br><br> Based in the Tampa Area
          iframe(height='400', width="100%", frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ52xEBpjEwogRQfewb4K7tI8&key=AIzaSyAswWKDaUFlrqE_6KO1C1bj2kL9R_YoEtw', allowfullscreen='')

