doctype html
html(ng-app="Home_App")
  head
    title= 'JRH ' + title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/glyphicons.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/glyphicons-bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/lib/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/lib/angular-timeline-master/dist/angular-timeline.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.files.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.pro.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.social.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="height:100%;")
    script(src='/lib/angular/angular.js')
    block content
    script(src='/lib/angular-timeline-master/dist/angular-timeline.js')
    script(src='/controllers/Home_Cntrl.js')
    script page="#{title}";