doctype html
html( ng-app="Home_App")
  head
    title= 'JRH ' + title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/glyphicons.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/glyphicons-bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/lib/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/lib/angular-timeline-master/dist/angular-timeline.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.files.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.pro.css')
    link(rel='stylesheet', href='/lib/bootstrap/glyphiconCSS/glyphicons.social.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    script(src='/lib/angular/angular.js')
    nav.navbar.navbar-default.navbar-fixed-top(ng-controller="Home_Cntrl_NavHandler")
      .container
        .navbar-header
          button.navbar-toggle(ng-click="navbarCollapsed = !navbarCollapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.site-text(style="color:#0; font-size:32px" href='#') {
            span.site-text(style="color:#BF2429; font-size:32px") JRH
            span.site-text(style="color:#0; font-size:32px") }
        .navbar-collapse.collapse(collapse="navbarCollapsed")
          ul.nav.navbar-nav(ng-repeat="x in menuItems")
            li(ng-class="{ 'active' : x === page }")
              a(href="{{x}}") {{x}}
          //ul.nav.navbar-nav li a(href="https:sirtechsalot.wordpress.com") Blog
          ul.nav.navbar-nav.navbar-right(ng-repeat="x in rightItems")
            li(ng-class="{ 'active' : x === page }")
              a(href="{{x}}") {{x}}
        // /.nav-collapse
      // /.container-fluid
    block content
    script(src='/lib/angular-animate/angular-animate.min.js')
    script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/lib/angular-timeline-master/dist/angular-timeline.js')
    script(src='/controllers/Home_Cntrl.js')
    script page="#{title}";